@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    background-color: rgb(218, 167, 73);
}
#content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}